.cont-new{
    
    width: 60%;
    margin: 2rem;
    height: auto;
}
/*Iamgenes*/
.imgNew img{
    width: 100%;
    height: 250px;
}
/*Contenido de la noticia*/
.con{
    width: 60%;
}
.serch{
    text-align: center;
    
}
.serch input{
    width: 70%;
    height: 40px;
    border-radius: 10px;
}